:host {
  --rain-1: theme('colors.primary');
  --rain-2: theme('colors.violet');
  --rain-3: theme('colors.indigo');
  --rain-4: theme('colors.azure');

  @apply pointer-events-none fixed inset-0 -z-10 block opacity-70;
}

canvas {
  @apply h-full w-full;
}
